
    <ul class="breadcrumb float-sm-right" id="mymenu">
        <li class="" style="margin-right: 5px; margin-left: 5px;"><button type="button" class="btn " id="lbtnStatus" onclick="location.href='@Url.Action("View_Company", "Company")'">Go Somewhere Else</button></li>
        <li class="" style="margin-right: 5px; margin-left: 5px;"><a href='@Url.Action("View_Company", "Company")' class="linkbutton1 btn btn-success" style="font-size:11px;padding: 5px; text-decoration: none;"> Company </a></li>
        <li class="" style="margin-right: 5px;"><a href='@Url.Action("View_Department", "Department")' class="linkbutton1 btn btn-success" style="font-size:11px;padding: 5px;  text-decoration: none;"> Department </a></li>
        <li class="" style="margin-right: 5px;"><a href='@Url.Action("View_Designation", "Designation")' class="linkbutton1 btn btn-success" style="font-size:11px;padding: 5px;  text-decoration: none;"> Designation </a></li>
        <li class="" style="margin-right: 5px;"><a href='@Url.Action("AddOrEdit", "AttendenceType")' class="linkbutton1 btn btn-success" style="font-size:11px;padding: 5px;  text-decoration: none;"> Attendence Type </a></li>
        <li class="" style="margin-right: 5px;"><a href='@Url.Action("View_RosterScheduleEntry", "RosterScheduleEntry")' class="linkbutton1 btn btn-success" style="font-size:11px;padding: 5px;  text-decoration: none;"> Roster Schedule </a></li>
        <li class="" style="margin-right: 5px;"><a href='@Url.Action("Vw_Shift", "Shift")' class="linkbutton1 btn btn-success" style="font-size:11px;padding: 5px;  text-decoration: none;"> Shift </a></li>
        <li class="" style="margin-right: 5px;"><a href='@Url.Action("View_CompanyWeekend", "CompanyWeekend")' class="linkbutton1 btn btn-success" style="font-size:11px; padding: 5px; text-decoration: none;"> Weekend </a></li>
        <li class="" style="margin-right: 5px;"><a href='@Url.Action("Vew_Holiday", "Holiday")' class="linkbutton1 btn btn-success" style="font-size:11px;padding: 5px;  text-decoration: none;"> Holiday </a></li>
        <li class="" style="margin-right: 5px;"><a href='@Url.Action("Vew_LeaveType", "LeaveType")' class="linkbutton1 btn btn-success" style="font-size:11px;padding: 5px;  text-decoration: none;"> Leave Type </a></li>
    </ul>
